:root {
    --fuente-principal: 'Montserrat', sans-serif;
    --principal: #cdb4a8;
    --primario:  #f4d8c9;
    --secundario: #f0e5dd;
    --gris: #b8b8b8;
    --blanco: #ffffff;
    --negro: #000000;

}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}
/** Globales **/
body {
    font-family: var(--fuentePrincipal);
    background-color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.5;
    align-items: center;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    text-decoration: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.container {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
/**Utilidades**/
.no-margin {
    margin: 0;
}
.no-padding{
    padding: 0;
}
.center-text {
    text-align: center;
}
/** Header **/
.header {
    
    background: linear-gradient(270deg, rgba(126,2,195,0.5) 0%, rgba(255,0,110,0.3) 100%), url(https://github.com/Jonavoe/Estudio-Juridico-MBO/blob/main/img/banner.jpeg?raw=true);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.header__text {
    color: var(--blanco);
    margin-top: 5rem;
}
@media(min-width: 768px) {
    .header__text {
        margin-top: 7rem;
    }
}
@media(min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo__img {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 5rem;
    margin: 2rem 0 2rem 2rem;
    align-items: center;
}
@media(min-width: 768px) {
    .nav {
        display: flex;
        gap: 2rem;
    }
}
.nav__link {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    margin: 2rem;
    border-bottom: 1px solid var(--secundario);
}


.container-main {
    margin: 0 5% 0 5%;
    font-size: 2rem;
}
@media (min-width: 608px) {
    .container-main {
        margin: 0 10% 0 10%;
    }
}
ul li i {
    margin: 1rem;
}
.container-main h3 {
    text-align: center;
}
.footer {
    color: var(--blanco);
    background-color: #b67b37;

}
.main__article {
    color: var(--negro);
}
@media (min-width: 670px) {
    iframe {
        width:600px;
        height: 450px;
    }
    
}
@media (min-width: 980px) {
    iframe {
        width:900px;
        height: 450px;
    }
    
}

#ubicacion {
    text-align: center;
}
/**Formulario**/
.contact_form{  
    width: 300px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  @media (min-width: 670px){
      .contact_form {
          width: 450px;
      }
  }
  
  input{
    background-color: #fbfbfb; 
    width: 252px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #845015; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px;
  }
  @media (min-width: 670px){
    input {
        width: 395px;
    }
}
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 252px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #845015; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  @media (min-width: 670px){
    textarea {
        width: 395px;
    }
}
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #b67b37; 
    border-color: #55340F; 
    border-style: solid; 
    border-radius: 10px;  
    width: 252px;   
    cursor: pointer;
  }
  @media (min-width: 670px){
    button {
        width: 395px;
    }
}
  
  
  button p{
    color: #ffffff; 
  }
  
  
  span{
    color: #000000; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  .formulario h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #0e0e0e;
  }
  
  
  .formulario h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  .formulario p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  